<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
       http://www.springframework.org/schema/beans/spring-beans.xsd">

    <!-- Spring will create this object for us - no "new" anywhere in our own code -->
    <bean id="paymentGateway" class="RazorpayGateway" />

    <!-- Spring wires the paymentGateway bean into OrderService's constructor -->
    <bean id="orderService" class="OrderService">
        <constructor-arg ref="paymentGateway" />
    </bean>

</beans>
